@font-face {
    font-family: 'RobotoR';
    src: url('/simple-landing/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'RobotoM';
    src: url('/simple-landing/fonts/Roboto-Medium.ttf');
}

:root {
    --mainWidthPage: 1112px;
    --navTitleSize: 14px;
    --brandColor: rgb(17, 27, 71);
    --brandColor-Hover: rgb(27, 40, 99);
    --MenuTitleColor: rgb(80, 95, 152);
    --altColor: rgb(111, 124, 178);
    --footerTitleColor: rgb(147, 158, 164);
    --h2TitleSize: 36px;
    --bodyTitleSize: 16px;
    --subTitleSize: 12px;
    --robotoR: 'RobotoR';
    --robotoM: 'RobotoM';
}






body {
    font-family: var(--robotoR);
    background-image: url(/simple-landing/img/designer_1.png), url(/simple-landing/img/Rectangle.png);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, bottom;
    background-size: auto, 100vw 1066px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(20px);
    padding-top: 20px;
}

.headerWrapper {
    width: var(--mainWidthPage);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}

.menuMain {
    display: flex;
    gap: 60px;
}

.menuMain li a {
    text-decoration: none;
    color: var(--MenuTitleColor);
}

.menuMain li a:hover{
    color: var(--brandColor);
}

.logoWrapper {
    margin: 0 auto;
    padding-right: 110px;
}

.logo {
    width: 94px;
    height: 38px;
    background-image: url(/simple-landing/img/logo.svg);
    background-repeat: no-repeat;
}

.Order__main {
    font-family: var(--robotoM);
    font-size: 12px;
    color: white;
    padding: 6px 56px;
    border: none;
    background-color: var(--brandColor);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.Order__main:hover{
    background-color: var(--brandColor-Hover);
}

.mainWrapper {
    width: var(--mainWidthPage);
    margin: 0 auto;
}

.brandPresentation {
    margin-bottom: 386px;
}

.brandPresentation__wrapper {
    margin-top: 246px;
}

.brandPresentation__Title {
    font-family: var(--robotoM);
    font-size: 50px;
    color: var(--brandColor);
    width: 540px;
    margin-bottom: 20px;
    line-height: 64px;
}

.brandPresentation__SubTitle {
    font-size: 18px;
    color: var(--altColor);
    width: 540px;
    line-height: 24px;
    margin-bottom: 70px;
}

.brandPresentation__buttons {
    display: flex;
    gap: 32px;
}

.Button__Order {
    font-family: var(--robotoM);
    font-size: var(--bodyTitleSize);
    background-color: var(--brandColor);
    color: white;
    padding: 8px 56px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.Button__Order:hover{
    background-color: var(--brandColor-Hover);
}

.brandPresentation__buttons button:last-child {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--brandColor);
    color: var(--brandColor);
    backdrop-filter: blur(12px);
}

.brandPresentation__buttons button:last-child:hover{
    background-color: rgba(47, 46, 65, 0.027);
}

.brandService {
    background-image: url(/simple-landing/img/undraw_mobile_login_ikmv.png);
    background-repeat: no-repeat;
    background-position: right;
}

.brandService_wrapper {
    padding: 160px 0;
}

.brandService__Title {
    font-family: var(--robotoM);
    font-size: var(--h2TitleSize);
    color: var(--brandColor);
    margin-bottom: 16px;
}

.brandService__Subtitle {
    font-size: var(--bodyTitleSize);
    color: var(--altColor);
    width: 540px;
    line-height: 24px;
    margin-bottom: 80px;
}

.brandService__Options {
    display: flex;
    gap: 30px;
}

.brandService__Icon {
    width: 36px;
    height: 36px;
    background-image: url(/simple-landing/img/Icon.png);
    background-repeat: no-repeat;
    margin-bottom: 14px;
}

.brandService__Options h6 {
    font-family: var(--robotoM);
    font-size: var(--bodyTitleSize);
    color: var(--brandColor);
    margin-bottom: 10px;
}

.brandService__Option__SubTitle {
    font-size: 12px;
    color: var(--altColor);
    width: 255px;
    line-height: 16px;
}

.brandOption__01,
.brandOption__02,
.brandOption__03 {
    display: flex;
    justify-content: flex-end;
}

.brandOption__01 {
    background-image: url(/simple-landing/img/undraw_happy_news_hxmt.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.brandOption__02 {
    background-image: url(/simple-landing/img/undraw_social_influencer_sgsv.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.brandOption__03 {
    background-image: url(/simple-landing/img/undraw_mention_6k5d.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.brandOption__wrapper {
    margin: 172px 0;

}

.brandOption__Title {
    font-family: var(--robotoM);
    font-size: var(--h2TitleSize);
    color: var(--brandColor);
    margin-bottom: 20px;
}

.brandOption__SubTitle {
    font-size: var(--bodyTitleSize);
    color: var(--altColor);
    width: 446px;
    line-height: 24px;
}

.button__wrapper {
    margin-top: 40px;
}

.brandOffer_wrapper {
    width: var(--mainWidthPage);
    margin: 236px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandOffer__Title {
    font-family: var(--robotoM);
    font-size: var(--h2TitleSize);
    text-align: center;
    margin-bottom: 18px;
}

.brandOffer__Subtitle {
    font-size: var(--bodyTitleSize);
    line-height: 24px;
    color: var(--altColor);
    width: 600px;
    text-align: center;
    margin-bottom: 38px;
}

.brandOffer__Offer__Price {
    font-family: var(--robotoM);
    font-size: 50px;
    color: var(--brandColor);
    margin-bottom: 12px;
}

.brandOffer__Offer__ProductName {
    font-size: var(--bodyTitleSize);
    color: var(--brandColor);
    margin-bottom: 60px;
}

.brandOffer__buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brandOffer__Instuction {
    font-size: 14px;
    color: black;
    margin-bottom: 12px;
}

footer {
    width: 100vw;
    background-color: rgb(231, 236, 255);
    padding-top: 62px;
    padding-bottom: 32px;
}

.footer__wrapper {
    width: var(--mainWidthPage);
    margin: 0 auto;

}

.company {
    display: flex;
    align-items: flex-start;
}

.company__Name {
    font-size: 14px;
    color: var(--altColor);
    margin-right: 140px;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: rgb(205, 209, 212);
    margin-top: 48px;
    margin-bottom: 26px;
}

.footerMenu__wrapper{
    display: flex;
    justify-content: space-between;
}

.menuFooter {
    display: flex;
    gap: 60px;
}

.menuFooter a {
    font-size: 14px;
    text-decoration: none;
    color: var(--altColor);
    cursor: pointer;
}

.menuFooter a:hover{
    color: var(--brandColor);
}

.socialIcons{
    display: flex;
    gap: 30px;
}

.socialIcon__facebook {
    width: 16px;
    height: 16px;
    background-image: url(/simple-landing/img/facebook.svg);
}

.socialIcon__LinkedIn {
    width: 16px;
    height: 16px;
    background-image: url(/simple-landing/img/LinkedIn.svg);
}

.socialIcon__Twiter {
    width: 16px;
    height: 16px;
    background-image: url(/simple-landing/img/X.svg);
}

.socialIcon__YouTube {
    width: 16px;
    height: 16px;
    background-image: url(/simple-landing/img/youtube.svg);
}

.socialIcon__Instagram {
    width: 16px;
    height: 16px;
    background-image: url(/simple-landing/img/instagram.svg);
}

.socialIcons div:hover{
    opacity: 0.8;
    cursor: pointer;
}